*{
            padding: 0;
            margin: 0;
            font: inherit;
        }
        body{
            font: 14px 微软黑体, Verdana;
            color: #333333;
        }
        .top_menu{
            padding:30px;
            float:left;
            height: 80px;
            width: 90px;
            /* padding: 30px; */
        }
        .top_header{
            position:fixed;
            float:left;
            width:100%;
            height:80px;
            background:#333333;
           
            top:0px;
            left:0px;
        }
        .top_intro{
            float:left;
            margin-top: 35px;
            font:normal bold 30px/20px arial,sans-serif;
            color:white;
            padding-left:30px;
        }
        .top_user_logo{
            height: 55px;
            widows: 55px;
            float: right;
            margin-top:20px;
            border-radius: 50%;
            /* overflow: hidden; */
            /* border-top-left-radius: 60%;
            border-top-right-radius: 60%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%; */
            padding-right: 10px;
        }
        .user_name{
            font:italic;
            float:right;
            margin-top:30px;
            padding-right: 40px;
            color:white;
            font-size:20px;
        }
        #top_but{
            float: right;
            margin-top: 20px;
          
            margin-right: 40px;
            
        }