*{
  font-family:sans-serif;
  /*定义文本字体系例*/
}
body{
  margin:0;
  padding: 0;
  background:black;
}
.login-box{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-image:linear-gradient(45deg,#dff9fb,#fa983a);
  transition: 0.4s;
  /*从左到右45度线性渐变*/
}
.login-form{/*表单*/
  position: absolute;
  top: 50%;
  left: 50%;/*以左上角为原点，不在中心位置*/
  transform: translate(-50%,-50%);
  /*向左向上移动自身长宽50%，移到中心位置*/
  color:white;
  text-align: center;
}
.login-form h2{
  font-weight:400;
  margin-top: 0;
  color:black;
  text-align: center;
}
.textb{/*Username/Password*/
  display: block;
  box-sizing:border-box;/*规定两个带边框的并排框*/
  width:240px;
  background: #ffffff28;  /*透明度*/
  border:1px solid white;
  padding: 10px 20px;
  outline:none;       /*无轮廓*/
  margin:10px 0;      /*上下10/右左0*/
  border-radius: 7px;
  text-align: center;
}
.btn{
  width:118px;
  background:#ffffff80;  /*透明度*/
  border:0;
  padding:10px;
  border-radius: 7px;
}
.radio{/*单选*/
  border-radius: 100%;
  
}
